@model Plan5W2HPlusPlus.Application.Models.Item5W2HModel
@using Plan5W2HPlusPlus.Model.Models

@{
    ViewBag.Titulo = "Criar Tarefa";
    ViewBag.LocalizacaoPai = "<a class='tip' href='" + Url.Action("Index", "Plan5W2h") + "'>Projetos</a>";
    ViewBag.Localizacao = "Criar Tarefa";
}

@Html.Partial("BodyFirstPart")

@Html.Partial("Messages")

@section AdditionalJavascript
{
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/handsontable/jquery.handsontable.js")"></script>
}

@section AdditionalStyles
{
    <link href="@Url.Content("~/Content/plugins/handsontable/jquery.handsontable.css")" rel="stylesheet" type="text/css" />
}

@*Content Start*@

<!-- Build page from here: -->
<div class="row-fluid">

    <div class="span12">

        @using (Html.BeginForm("CreateItem", "Plan5W2H", FormMethod.Post, new { @Class = "form-horizontal", @Id = "form-validate" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Plan.Code)
            @Html.HiddenFor(model => model.Item.Code)
            <div class="form-row row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <label class="form-label span3" for="username">O Que:</label>
                        @Html.TextBoxFor(model => model.Item.Oque, new { @Class = "span4 required" })
                    </div>
                </div>
            </div>
            <div class="form-row row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <label class="form-label span3" for="username">Por que:</label>
                        @Html.TextBoxFor(model => model.Item.Porque, new { @Class = "span4 required" })
                    </div>
                </div>
            </div>
            <div class="form-row row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <label class="form-label span3" for="username">Quando:</label>
                        @Html.TextBoxFor(model => model.Item.Quando, new { @Class = "span2 required datetimePicker" })
                    </div>
                </div>
            </div>
            <div class="form-row row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <label class="form-label span3" for="username">Onde:</label>
                        @Html.TextBoxFor(model => model.Item.Onde, new { @Class = "span4 required" })
                    </div>
                </div>
            </div>
            <div class="form-row row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <label class="form-label span3" for="username">Como:</label>
                        @Html.TextBoxFor(model => model.Item.Como, new { @Class = "span4 required" })
                    </div>
                </div>
            </div>
            <div class="form-row row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <label class="form-label span3" for="username">Quem:</label>
                        @Html.DropDownList("Quem", Model.GetColaboradores(), new { @style = "width: 343px;", @class = "nostyle", @Id = "Colaboradores", @multiple = "multiple" })
                    </div>
                </div>
            </div>
            <div class="form-row row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <label class="form-label span3" for="name">Quanto:</label>
                        <div class="input-append">
                            @Html.TextBoxFor(model => model.Item.Quanto, new { @class = "span8" })<span class="add-on">,00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="form-actions">
                            <div class="span3"></div>
                            <div class="span4 controls">
                                <button type="submit" class="btn btn-info marginR10">Save changes</button>
                                <button type="reset" id="cancel" class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <!-- End .span12 -->

</div>
<!-- End .row-fluid -->
<div class="row-fluid">
    <div class="span12">

        <div class="box">

            <div class="title">

                <h4>
                    <span class="icon16 brocco-icon-grid"></span>
                    <span>Lista de Tarefas</span>
                </h4>
                <a href="#" class="minimize">Minimize</a>
            </div>
            <div class="content noPad">
                <table class="responsive table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>O que</th>
                            <th>Por que</th>
                            <th>Quando</th>
                            <th>Onde</th>
                            <th>Como</th>
                            <th>Quem</th>
                            <th>Quanto (R$)</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int count = 1;
                           foreach (Item5W2H item in Model.Itens)
                           {
                            <tr>
                                <td>@count</td>
                                <td>@item.Oque</td>
                                <td>@item.Porque</td>
                                <td>@item.Quando</td>
                                <td>@item.Onde</td>
                                <td>@item.Como</td>
                                <td>
                                    @foreach (User colaboradores in item.Quem)
                                    { 
                                        @(colaboradores.GetNomeCompleto() + "; ")
                                    
                                    }
                                </td>
                                <td>@item.Quanto.ToString()</td>
                                <td>@item.Andamento</td>
                                <td>
                                    <div class="controls center">
                                        <a href="@Url.Action("RemoveTask", "Plan5W2H", new { @planId = Model.Plan.Code, @taskId = item.Code.ToString() })" title="Remover tarefa" class="tip"><span class="icon12 icomoon-icon-remove"></span></a>
                                    </div>
                                </td>
                            </tr>
                            
                                    ++count;
                           }
                        }
                    </tbody>
                </table>
            </div>

        </div>
        <!-- End .box -->

    </div>
    <!-- End .span6 -->
</div>

@*Content End*@

@Html.Partial("BodySecondPart")

<script type="text/javascript">
    $(function () {
        $("li a.first").addClass("current");
    });

    $(function () {
        function format(state) {
            if (!state.id) return state.text; // optgroup
            return "<img style='width:36px;height:32px;' class='avatar' src='/Content/UsersAvatar/avatar" + state.id.toLowerCase() + ".png'/>" + state.text;
        }

        $("#Colaboradores").select2({
            placeholder: "Selecione o colaborador",
            formatResult: format,
            formatSelection: format,
            escapeMarkup: function (m) { return m; }
        });

    });
</script>
