<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>5W2H++</title>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Le styles -->
    <!-- Use new way for google web fonts 
    http://www.smashingmagazine.com/2012/07/11/avoiding-faux-weights-styles-google-web-fonts -->
    <!-- Headings -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />  -->
    <!-- Text -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' /> --> 
    <!--[if lt IE 9]>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" />
    <![endif]-->

    <link href="@Url.Content("~/Content/css/bootstrap/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/supr-theme/jquery.ui.supr.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/css/icons.css")" rel="stylesheet" type="text/css" />
    <!-- Plugin stylesheets -->
    <link href="@Url.Content("~/Content/plugins/qtip/jquery.qtip.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/fullcalendar/fullcalendar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/jpages/jPages.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/prettify/prettify.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/inputlimiter/jquery.inputlimiter.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/ibutton/jquery.ibutton.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/uniform/uniform.default.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/color-picker/color-picker.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/select/select2.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/validate/validate.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/pnotify/jquery.pnotify.default.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/pretty-photo/prettyPhoto.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/smartWizzard/smart_wizard.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/dataTables/jquery.dataTables.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/elfinder/elfinder.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/plupload/jquery.ui.plupload/css/jquery.ui.plupload.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/search/tipuesearch.css")" type="text/css" rel="stylesheet" />

    <!-- Main stylesheets -->
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" type="text/css" /> 

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Content/images/apple-touch-icon-144-precomposed.png")" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/images/apple-touch-icon-114-precomposed.png")" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/images/apple-touch-icon-72-precomposed.png")" />
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/images/apple-touch-icon-57-precomposed.png")" />
    
    <script type="text/javascript">
        //adding load class to body and hide page
        document.documentElement.className += 'loadstate';
    </script>

    </head>
      
    <body>
    <!-- Le javascript
    ================================================== -->
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap/bootstrap.js")"></script>  
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.cookie.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.mousewheel.js")"></script>

    <!-- Load plugins -->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/qtip/jquery.qtip.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/flot/jquery.flot.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/flot/jquery.flot.grow.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/flot/jquery.flot.pie.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/flot/jquery.flot.resize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/flot/jquery.flot.tooltip_0.4.4.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/flot/jquery.flot.orderBars.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/plugins/sparkline/jquery.sparkline.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/knob/jquery.knob.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/fullcalendar/fullcalendar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/prettify/prettify.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/plugins/watermark/jquery.watermark.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/elastic/jquery.elastic.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/inputlimiter/jquery.inputlimiter.1.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/maskedinput/jquery.maskedinput-1.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/ibutton/jquery.ibutton.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/uniform/jquery.uniform.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/stepper/ui.stepper.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/color-picker/colorpicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/timeentry/jquery.timeentry.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/select/select2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/dualselect/jquery.dualListBox-1.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/tiny_mce/jquery.tinymce.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/validate/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/search/tipuesearch_set.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/search/tipuesearch_data.js")"></script><!-- JSON for searched results -->
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/search/tipuesearch.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/plugins/animated-progress-bar/jquery.progressbar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/pnotify/jquery.pnotify.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/lazy-load/jquery.lazyload.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/jpages/jPages.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/pretty-photo/jquery.prettyPhoto.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/smartWizzard/jquery.smartWizard-2.0.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/plugins/ios-fix/ios-orientationchange-fix.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/plugins/dataTables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/elfinder/elfinder.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/plupload/plupload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/plupload/plupload.html4.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/plupload/jquery.plupload.queue/jquery.plupload.queue.js")"></script>

    <!-- Init plugins -->
    <script type="text/javascript" src="@Url.Content("~/Content/js/statistic.js")"></script><!-- Control graphs ( chart, pies and etc) -->

    <!-- Important Place before main.js  -->
    <script type="text/javascript" src="@Url.Content("~/Content/js/supr-theme/jquery-ui-1.8.21.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/touch-punch/jquery.ui.touch-punch.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/main.js")"></script>

    @RenderBody()
    </body>
</html>
