<!-- loading animation -->
    <div id="qLoverlay"></div>
    <div id="qLbar"></div>
    
    @Html.Partial("Header")

    <div id="wrapper">

        <!--Responsive navigation button-->  
        <div class="resBtn">
            <a href="#"><span class="icon16 minia-icon-list-3"></span></a>
        </div>
        
        <!--Sidebar background-->
        <div id="sidebarbg"></div>
        <!--Sidebar content-->
        <div id="sidebar">

            <div class="shortcuts">
                
            </div><!-- End search -->

            <!-- SideNav Include -->
            @Html.Partial("MenuSideNav")

        </div><!-- End #sidebar -->

        <!--Body content-->
        <div id="content" class="clearfix">
            <div class="contentwrapper"><!--Content wrapper-->

                <div class="heading">

                    <h3>@ViewBag.Titulo</h3>                    

                    <ul class="breadcrumb">
                        <li>Você está aqui:</li>
                        <li>
                            <a href="@Url.Action("Index", "Home")" class="tip" title="voltar para a Home">
                                <span class="icon16 icomoon-icon-screen"></span>
                            </a> 
                            <span class="divider">
                                <span class="icon16 icomoon-icon-arrow-right"></span>
                            </span>
                        </li>
                        
                        @if (ViewBag.LocalizacaoPai != null)
                        {
                        <li>
                            @Html.Raw(ViewBag.LocalizacaoPai)
                            <span class="divider">
                                <span class="icon16 icomoon-icon-arrow-right"></span>
                            </span>
                        </li>
                        }
                        <li class="active">@Html.Raw(ViewBag.Localizacao)</li>
                    </ul>

                </div><!-- End .heading-->

                <!-- Build page from here: -->
               
