    <div id="header">

        <div class="navbar">
            <div class="navbar-inner">
              <div class="container-fluid">
                <a class="brand" href="@Url.Action("Index", "Home")">5W2H<span class="slogan">++</span></a>
                <div class="nav-no-collapse">
                    <ul class="nav">
                        <li class="active">
                            <a href="@Url.Action("Index", "Home")"><span class="icon16 icomoon-icon-screen"></span> Home</a></li>                        
                    </ul>
                    @if(this.Request.IsAuthenticated)
                    {
                    <ul class="nav pull-right usernav">
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                                <img src="@Request.Url.GetLeftPart(UriPartial.Authority)@if(ViewBag.UserModel != null){ @ViewBag.UserModel.UrlAvatar}" alt="" class="image" /> 
                                <span class="txt">@if(ViewBag.UserModel.Usuario != null){@ViewBag.UserModel.Usuario.UserName} </span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="menu">
                                    <ul>
                                        <li>
                                            <a href="@if(ViewBag.UserModel.Usuario != null){ @Url.Action("Create", "User", new { @id = ViewBag.UserModel.Usuario.Code })}"><span class="icon16 icomoon-icon-user-3"></span>Editar perfil</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Logoff","Autentication")"><span class="icon16 icomoon-icon-exit"></span> Logout</a></li>
                    </ul>
                    }
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div><!-- /navbar --> 

    </div><!-- End #header -->
